<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="head">
        <h2>Header</h2>
    </div>

    <div class="navi">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">About Us</a></li>
        </ul>
    </div>

    <div class="contents">

        <h3>This Is Content</h3>
        
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, exercitationem labore? Aspernatur, repudiandae fuga non neque rem quas sequi et inventore ad odio cumque totam dolore optio quidem explicabo accusamus perferendis temporibus nostrum eius atque. Aspernatur nisi debitis recusandae corrupti quo saepe adipisci quas quisquam iste tenetur. Laborum ex ducimus aliquid maiores, soluta aspernatur ullam, rerum voluptates fugit amet ipsa alias tenetur consequuntur fuga eveniet laboriosam dicta voluptatem id nobis distinctio minima consectetur totam quia cumque? Voluptates consectetur, sequi qui ex quam voluptate mollitia maiores cupiditate! Culpa odio magnam distinctio
         a optio, expedita doloremque aut, eaque rem non, quod nesciunt.</p>

         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, exercitationem labore? Aspernatur, repudiandae fuga non neque rem quas sequi et inventore ad odio cumque totam dolore optio quidem explicabo accusamus perferendis temporibus nostrum eius atque. Aspernatur nisi debitis recusandae corrupti quo saepe adipisci quas quisquam iste tenetur. Laborum ex ducimus aliquid maiores, soluta aspernatur ullam, rerum voluptates fugit amet ipsa alias tenetur consequuntur fuga eveniet laboriosam dicta voluptatem id nobis distinctio minima consectetur totam quia cumque? Voluptates consectetur, sequi qui ex quam voluptate mollitia maiores cupiditate! Culpa odio magnam distinctio
            a optio, expedita doloremque aut, eaque rem non, quod nesciunt.</p>
    </div>

    <div class="footer">
       <p>This Is Footer</p>
    </div>
</body>
</html>